/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

/* header */

.container-header{
    width: 300px;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    color: lightgray;
    padding: 1.5rem 1.7rem;
    line-height: 2.3rem;
}

.secondary-img{
    display: none;
}

header img{
    width: 80%;
}

.playlist{
    padding-top: 2rem;
    line-height: 2;
}

.intro{
    padding: 1rem .3rem;
    line-height: 2;
}

.intro li{
    font-size: 27px;
}

.intro i{
    font-size: 35px;
}

.end{
    padding-top: 21rem;
    line-height: 2.5;
}

.playlist h2{
    font-size: 30px;
}

ul li{
    list-style-type: none;
    font-size: 22px;
}

.secondary-icons{
    display: none;
}

.padding-side{
    padding: 1rem .7rem;
}

/* Main */

.container{
    width: calc(100% - 300px);
    overflow: auto;
}

.upgrade{
    width: 100%;
    height: 110px;
    background-color: #121701;
    position: relative;
}

.upgrade button{
    position: absolute;
    right: 0;
    top: 0;
    width: 22rem;
    height: 4.3rem;
    font-size: 20px;
    margin: 1rem .5rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 50px 50px 50px 50px;
}

.home{
    width: 100%;
    background-color: #141922;
    padding: 0 1.5rem;
}

.album{
    width: 100%;
}

.img-container > img{
    width: 100%;
    display: block;
    position: relative;
}

.titles{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 1rem;
}

.titles li{
    color: lightgray;
    display: inline;
    margin: 0 3rem;
}

.card{
    width: calc(100% / 7);
    text-align: center;
    margin: 0 1rem;
}

.hover-play{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.played img{
    width: 100%;
}

.titles-played{
    color: white;
    font-size: 30px;
    padding-bottom: 2.5rem;
    padding-top: 3rem;
}

.titles-played h2{
    color: lightgray;
    font-size: 30px;
    padding-top: 1rem;
}

.card h1,
.card h2{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 1rem;
}

.card h2{
    color: lightgray;
}


/* Navbar */

.taskbar{
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    background-color: #222222;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.now-playing{
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
}

.now-playing h1{
    font-size: 35px;
    color: white;
}

.now-playing h2{
    color: grey;
}

.playing-icons{
    padding-left: 3rem;
    font-size: 25px;
}

.playing-icons i{
    margin: 0 .3rem;
}

.now-playing>img{
    width: 20%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.n-playing-text>*{
    display: block;
}

.n-playing-text>span, .settings>i{
    color: var(--LightGrey);
}

.settings>i{
    color: white;
    font-size: 35px;
    margin-right: 2rem;
}

.active-volume::after, .player-bar-active::after{
    content: "";
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-color: white;
    display: none;
    position: absolute;
    right: -5px;
    transform: translateY(-4px);
}

.volume:hover .active-volume{
    background-color: yellow;
}

.volume:hover .active-volume::after{
    display: block;
}

.playing-icons > i{
    color: white;
    display: inline-block;
    margin-right: 5px;
}

.settings{
    display: flex;
    padding-right: 20px;
    align-items: center;
    width: 20%;
    justify-content: flex-end;
    width: 300px;
}

.volume{
    width: 10vw;
    background-color: grey;
    height: 0.6rem;
    border-radius: 10px;
    position: relative;
}

.active-volume{
    position: absolute;
    left: 0;
    top: 0;
    width: 1vw;
    height: 0.6rem;
    background-color: white;
    border-radius: 10px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    width: 60%;
    padding: 3rem 2rem;
    margin-right: 10rem;
}

.player-top{
    display: flex;
    justify-content: space-around;
}

.player i{
    margin: 0 1rem;
}

.player-top>i{
    font-size: 40px;
    padding-bottom: 1rem;
    color: white;
}

.player-bot{
    display: flex;
    gap: 20px;
    align-items: center;
}

.player-bot > span{
    color: white;
    font-size: 20px;
}

.player-bar{
    width: 35vw;
    height: 0.5rem;
    border-radius: 10px;
    background-color: gray;
    position: relative;
}

.player-bar-active{
    width: 90px;
    height: 0.5rem;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 0;
}

.player-bar:hover .player-bar-active{
    background-color: yellow;
}

.player-bar:hover .player-bar-active::after{
    display: block;
}


/* Media */

@media screen and (min-width: 992px){}


@media screen and (min-width: 768px){}


@media screen and (max-width: 576px){
    .container-header{
        width: 90px;
    }

    .spotify-logo{
        display: none;
    }

    .secondary-img{
        display: inline;
    }

    .secondary-img img{
        width: 45px;
    }

    .container-header ul li{
        display: none;
    }

    .secondary-icons{
        display: inline;
        font-size: 35px;
    }

    .secondary-icons i{
        padding: .7rem 0;
    }

    .playlist{
        display: none;
    }

    .end{
        display: none;
    }

    .container{
        width: calc(100% - 90px);
    }

    .card{
        width: calc(100% / 2);
        text-align: center;
        margin: 0 1rem;
    }
}