/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

/* header */

.container-header{
    width: 300px;
    height: calc(100vh - 90px);
    flex-direction: column;
    background-color: black;
    color: lightgray;
    padding: 1.5rem 1.7rem;
    line-height: 2.3rem;
}

.secondary-img{
    display: none;
}

header img{
    width: 80%;
}

.playlist{
    padding-top: 2rem;
    line-height: 2;
}

.intro{
    padding: 1rem .3rem;
    line-height: 2;
}

.intro li{
    font-size: 27px;
}

.intro i{
    font-size: 35px;
}

.end{
    padding-top: 22rem;
    line-height: 2.5;
}

.playlist h2{
    font-size: 30px;
}

ul li{
    list-style-type: none;
    font-size: 22px;
}

.secondary-icons{
    display: none;
}

.padding-side{
    padding: 1rem .7rem;
}

/* Main */

.container{
    width: calc(100% - 300px);
}

.upgrade{
    width: 100%;
    height: 110px;
    background-color: #121701;
    position: relative;
}

.upgrade button{
    position: absolute;
    right: 0;
    top: 0;
    width: 22rem;
    height: 4.3rem;
    font-size: 20px;
    margin: 1rem .5rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 50px 50px 50px 50px;
}

.home{
    width: 100%;
    height: 1300px;
    background-color: #141922;
    padding: 0 1.5rem;
}

.album{
    width: 100%;
    height: 400px;
    display: flex;
}

.titles{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 1rem;
}

.titles li{
    color: lightgray;
    display: inline;
    margin: 0 3rem;
}

.played{
    width: calc((100% / 2) - 1rem);
    height: 90%;
    background-color: darkorchid;
    display: flex;
    margin: 0 .7rem;
}

.played img{
    width: 100%;
}

.titles-played{
    color: white;
    font-size: 35px;
    padding-bottom: 2.5rem;
}


/* Navbar */

.taskbar{
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    background-color: #222222;
}

.container-task{
    width: calc(100% / 3);
    height: 200px;
    border: 3px solid red;
}


/* Media */

@media screen and (min-width: 992px){}


@media screen and (min-width: 768px){}


@media screen and (max-width: 576px){
    .container-header{
        width: 90px;
    }

    .spotify-logo{
        display: none;
    }

    .secondary-img{
        display: inline;
    }

    .secondary-img img{
        width: 45px;
    }

    .container-header ul li{
        display: none;
    }

    .secondary-icons{
        display: inline;
        font-size: 35px;
    }

    .secondary-icons i{
        padding: .7rem 0;
    }

    .playlist{
        display: none;
    }

    .end{
        display: none;
    }

    .container{
        width: calc(100% - 90px);
    }
}