/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

/* header */

.container-sidebar{
    background-color: black;
    flex-direction: column;
    flex-direction: column;
    height: 90vh;
    width: 200px;
    overflow: auto;
    display: flex;
  }
  
.logo-sidebar{
    width: 80%;
    padding-top: 20px;
    padding-left: 8px;
    margin-bottom: 10px;
}
  
.container-sidebar ul li a{
    text-decoration: none;
    color: #626262;
    vertical-align: middle;
}
  
.container-sidebar ul li{
    padding-left: 20px;
    margin-bottom: 20px;
    color: #626262;
    vertical-align: middle;
    list-style-type: none;
}

.fx-hover-left{
    font-size: 13px;
}
  
.fx-hover-left:hover{
    border-left: 3px solid #adff2f;
    color: #ffffff;
}
  
.fx-hover-left a:hover{
    color: #ffffff;
}
  
.icon-sidebar{
    width: 10%;
    vertical-align: middle;
    margin-right: 5px;
}

.footer-sidebar span{
    color: #9b9b9b; 
    cursor:pointer;
  position:relative;
  padding:4px 2px;
  background:rgb(0, 0, 0);
  font-size: 15px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  transition:all 1s;
  &:after,&:before{
    content:" ";
    width:10px;
    height:10px;
    position:absolute;
    border :0px solid #ffffff;
    transition:all 1s; 
    } 
  &:after{
    top:-1px;
    left:-1px;
    border-top:1px solid rgb(252, 251, 251);
    border-left:1px solid rgb(255, 252, 252);
  }
  &:before{
    bottom:-1px;
    right:-1px;
    border-bottom:1px solid rgb(255, 255, 255);
    border-right:1px solid rgb(255, 255, 255);
  }
  &:hover{
    border-top-right-radius:0px;
  border-bottom-left-radius:0px;
     background:rgba(0,0,0,.5);
     color:white;
    &:before,&:after{
      
      width:100%;
      height:100%;
      border-color:white;
    }
  }
}

.footer-sidebar hr{
    margin: .4rem 0;
}

.titles-li{
    font-size: 20px;
    color: #ffffff;
}

.none{
    display: none;
}

/* Main */

.container{
    width: calc(100vw - 200px);
    height: 100vh;
    overflow-y: auto;
}

.upgrade{
    width: 100%;
    height: 70px;
    background-color: #121701;
    position: relative;
}

.upgrade button{
    position: absolute;
    right: 0;
    top: 0;
    width: 11rem;
    height: 2.5rem;
    font-size: 12px;
    margin: .8rem .5rem;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 50px 50px 50px 50px;
}

.home{
    width: 100%;
    background-color: #141922;
    padding: 0 1.5rem;
}

.album{
    width: 100%;
}

.img-container > img{
    width: 100%;
    display: block;
    position: relative;
}

.titles{
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 1rem;
}

.titles li{
    color: lightgray;
    font-size: 15px;
    display: inline;
    margin: 0 2rem;
}

.card{
    width: calc(100% / 6);
    text-align: center;
    margin: 0 1rem;
    margin-left: 0;
}

.hover-play{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.played img{
    width: 100%;
}

.titles-played{
    color: white;
    font-size: 15px;
    padding-bottom: 2.5rem;
    padding-top: 3rem;
}

.titles-played h2{
    color: lightgray;
    font-size: 13px;
    padding-top: 1rem;
}

.card h1,
.card h2{
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: .5rem;
}

.card h2{
    color: #888787;
    font-size: 16px;
}


/* Navbar */

.taskbar{
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    background-color: #222222;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.now-playing{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.now-playing h1{
    font-size: 20px;
    color: white;
}

.now-playing h2{
    color: grey;
    font-size: 15px;
}

.playing-icons{
    padding-left: 3rem;
    font-size: 15px;
}

.playing-icons i{
    margin: 0 .3rem;
}

.now-playing>img{
    width: 10%;
    margin-left: 1.5rem;
}

.n-playing-text>*{
    display: block;
    padding-left: .5rem;
}

.settings>i{
    color: white;
    font-size: 15px;
    margin-right: 1.5rem;
}

.active-volume::after,
 .player-bar-active::after{
    content: "";
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-color: white;
    display: none;
    position: absolute;
    right: 0;
    transform: translateY(-4px);
}

.volume:hover .active-volume{
    background-color: yellow;
}

.volume:hover .active-volume::after{
    display: block;
}

.playing-icons > i{
    color: white;
    display: inline-block;
    margin-right: 5px;
}

.settings{
    display: flex;
    padding-right: 20px;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
    width: 300px;
}

.volume{
    width: 12vw;
    background-color: grey;
    height: 0.6rem;
    border-radius: 10px;
    position: relative;
}

.active-volume{
    position: absolute;
    left: 0;
    top: 0;
    width: 5vw;
    height: 0.6rem;
    background-color: white;
    border-radius: 10px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    width: 100%;
}

.player-top{
    display: flex;
    justify-content: space-around;
}

.player i{
    margin: 0 1rem;
}

.player-top>i{
    font-size: 30px;
    padding-bottom: 1rem;
    color: white;
}

.player-bot{
    display: flex;
    gap: 10px;
    align-items: center;
}

.player-bot > span{
    color: white;
    font-size: 15px;
}

.player-bar{
    width: 30vw;
    height: 0.5rem;
    border-radius: 10px;
    background-color: gray;
    position: relative;
}

.player-bar-active{
    width: 70px;
    height: 0.5rem;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 0;
}

.player-bar:hover .player-bar-active{
    background-color: yellow;
}

.player-bar:hover .player-bar-active::after{
    display: block;
}


/* Media */

@media screen and (min-width: 992px){}


@media screen and (min-width: 768px){
    .card{
        width: calc(100% / 4);
        text-align: center;
    }
}


@media screen and (max-width: 576px){
    .container-sidebar{
        width: 40px;
    }

    .none{
        display: inline;
    }

    .inline{
        display: none;
    }

    .none img{
        width: 100%;
        display: flex;
        margin-top: 1rem;
    }

    .logo-sidebar{
        display: none;
    }

    .secondary-img{
        display: inline;
    }

    .secondary-img img{
        width: 45px;
    }

    .container-header ul li{
        display: none;
    }

    .secondary-icons{
        display: inline;
        font-size: 35px;
    }

    .secondary-icons i{
        padding: .7rem 0;
    }

    .playlist{
        display: none;
    }

    .end{
        display: none;
    }

    .container{
        width: calc(100% - 40px);
    }

    .album{
        width: calc(100%b / 2);
    }

    .card{
        width: calc(100% / 2);
        text-align: center;
    }
}